<h1>Listing shipping_options</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shipping_options.each do |shipping_option| %>
  <tr>
    <td><%= shipping_option.name %></td>
    <td><%= shipping_option.cost %></td>
    <td><%= shipping_option.cost %></td>
    <td><%= link_to 'Show', shipping_option %></td>
    <td><%= link_to 'Edit', edit_shipping_option_path(shipping_option) %></td>
    <td><%= link_to 'Destroy', shipping_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shipping option', new_shipping_option_path %>
