<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shipping_option.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @shipping_option.cost %>
</p>

<p>
  <b>Cost:</b>
  <%= @shipping_option.cost %>
</p>


<%= link_to 'Edit', edit_shipping_option_path(@shipping_option) %> |
<%= link_to 'Back', shipping_options_path %>
